<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Q&A 게시판</title>
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet"  href="../public/css/style.css">
    </head>
    <body>
        <div id="s">
            <div id="A" > 
             ENOMO
             </div>
            
             <div id="B" style="display: inline"><br><BR>
              <% if (!isLogined) { %>}
              <button type = "button" id = "b"> <a href="/auth/join">회원가입</a></button>
              <button type = "button" id = "b"> <a href="/auth/login">로그인</a></button>
              <% } else { %>
                <button type = "button" id = "b"> <a href="/auth/logout">로그아웃</a></button>
              <% } %>
             </div>
           </div>
         <p>  
         <div id="C">
            <nav class="navbar navbar-dark bg-dark" >        
                <div class="container-fluid"  STYLE="padding-left: 345px;" >
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/" style='color:white'>Home</a>
                                  
                    </div>
                
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                      <ul class="nav navbar-nav" >
                        <li><a href="/board" style='color:white'>Q&A</a></li>
                        <li><a href="/notice" style='color:white'>notice</a></li>
                        <li><a href="/board" style='color:white'>my page</a></li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style='color:white'>Dropdown <span class="caret"></span></a>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="#" style='color:white'>Action</a></li>
                            <li><a href="#" style='color:white'>Another action</a></li>
                            <li><a href="#" style='color:white'>Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#" style='color:white'>Separated link</a></li>
                            <li class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                          </ul>
                        </li>
                      </ul>
                      <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                      </form>
                      <ul class="nav navbar-nav navbar-right">
                        <li><a href="#" style='color:white'>Link</a></li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style='color:white'>Dropdown <span class="caret"></span></a>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                          </ul>
                        </li>
                      </ul>
                    </div><!-- /.navbar-collapse -->
                  </div><!-- /.container-fluid -->
                </nav>
         </div>
         </p>
             </div>
           </div>
         <p>  
         <div id="C">
            <nav class="navbar navbar-dark bg-dark" >        
                <div class="container-fluid"  STYLE="padding-left: 345px;" >
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/" style='color:white'>Home</a>
                                  
                    </div>
                
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                      <ul class="nav navbar-nav" >
                        <li><a href="/board" style='color:white'>Q&A</a></li>
                        <li><a href="/notice" style='color:white'>notice</a></li>
                        <li><a href="/board" style='color:white'>my page</a></li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style='color:white'>Dropdown <span class="caret"></span></a>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="#" style='color:white'>Action</a></li>
                            <li><a href="#" style='color:white'>Another action</a></li>
                            <li><a href="#" style='color:white'>Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#" style='color:white'>Separated link</a></li>
                            <li class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                          </ul>
                        </li>
                      </ul>
                      <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                      </form>
                      <ul class="nav navbar-nav navbar-right">
                        <li><a href="#" style='color:white'>Link</a></li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style='color:white'>Dropdown <span class="caret"></span></a>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                          </ul>
                        </li>
                      </ul>
                    </div><!-- /.navbar-collapse -->
                  </div><!-- /.container-fluid -->
                </nav>
         </div>
         </p>
        <div class="container">
            <h2><strong>Q&A 게시판</strong></h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>번호</th>
                        <th>장르</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>날짜</th>
                        <th>조회수</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i = 0; i < rows.length; i++) { %>
                    <tr>
                        <td>
                            <%=rows[i].postId%>
                        </td>
                        <td>
                          <%=rows[i].genre%>
                      </td>
                        <td>
                            <a href='/board/detail/<%=rows[i].postId%>'><%= rows[i].postTitle %></a>
                        </td>
                        <td>
                            <%= rows[i].userNickname %>
                        </td>
                        <td>
                            <%= rows[i].createAt %>
                        </td>
                        <td>
                            <%= rows[i].hit %>
                        </td>
                    </tr>
                    <% }%>
                </tbody>
            </table>
            <hr/>
            <a class="btn btn-default pull-right" href="/board/write">글쓰기</a>

            <div class="text-center">
                <ul class="pagination">
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                </ul>
            </div>
        </div>

        <script src="js/jquery-3.4.1.min.js"></script>
        <script src="js/bootstrap.js"></script>
    </body>
</html>